

.body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #FEC063;
    color: #FEC063;
    margin: 0;
    padding: 0;
    
}
.title{
    text-align: center;
    margin-bottom: 20px;
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
}

.link {
    text-align: center; /* Căn giữa tất cả các phần tử con bên trong .link */
}

.link a {
    text-decoration: none; 
    text-align: center;
    font-size: 18px; 
    font-style: italic; /* In nghiêng chữ */
    color: #000000; 
}
.SE1, .SE2, .SE3, .SE4, .SE5 {
    margin: 20px auto;
    padding: 10px;
    border: 2px solid orange;
    width: 80%;
    background-color: #222;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 10px;
    text-align: center;
}
.SE1 td:nth-child(1), .SE2 td:nth-child(2), .SE3 td:nth-child(1),.SE3 td:nth-child(4), .SE4 td:nth-child(2), .SE4 td:nth-child(4), .SE5 td:nth-child(5) {
    background-color: green;
    color: white;
}

.SE1 td:nth-child(3), .SE2 td:nth-child(4), .SE3 td:nth-child(3),.SE3 td:nth-child(6), .SE4 td:nth-child(6), .SE5 td:nth-child(3) {
    background-color: blueviolet;
    color: white;
}
/* Định dạng cho phần lịch khai giảng */
.CEREMONY{
    text-align: center;/* Căn giữa nội dung dòng ceremony ở giữa */
    margin-top: 10px; /* Thêm khoảng cách 10px trên phần tử này */
}
.CEREMONY h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}
.CEREMONY h2 {
    margin-top:0;
}
